
ConsoleApplication3/.vs/ConsoleApplication3/FileContentIndex/366d1130-b15c-4cba-8c66-8eca42268133.vsidx
ConsoleApplication3/.vs/ConsoleApplication3/FileContentIndex/e130db45-b3ce-4cc2-8bcb-ba53739d65c6.vsidx
ConsoleApplication3/.vs/ConsoleApplication3/v17/.suo
ConsoleApplication3/.vs/ConsoleApplication3/v17/Browse.VC.db
